<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >

<suite name="Suite" parallel="tests">

    <test name="checkProf">
        <parameter name="firstParam" value="Иван Васильевич меняет профессию"></parameter>
        <parameter name="secondParam" value="На какую?"></parameter>

        <classes>
            <class name="firstTests.thirdTest"></class>
        </classes>

    </test>

</suite>